*{
    user-select: none;
    }
body{
    margin: 0;
    padding: 0;
    background-color: rgb(29, 48, 48);
    text-align: center;
    color: white;
    user-select: none;
}
.CheeseBlock{
    height: 250px;
    
}
.CheeseBlock:hover{
    cursor: pointer;
}
.CheeseBlock:active{
    transform: scale(1.05);
}
.Cheese{
    width: 30%;
    margin: auto;
}

.amountofcheesetext{
    font-size: 27px;
    letter-spacing: 1.2px;
}
h1{
    text-decoration: underline;
}
button{
color:#000000;
border-radius:1px;
}
button:hover{
cursor: pointer;
}
.leftsection{
    float: left;
    width: 40%;
}
.shop{
    float: right;
    width: 40%;
}
.upgrades{
    margin-bottom: 90px;
}